**/obj/
**/bin/

**/appsettings.json
**/appsettings.Development.json
**/PasswordHasherService.cs

# Editor directories and files
.vscode
.vs
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.containers
.files